
.card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 15px; 
    max-width: 1200px;
    margin: 30px auto;
    padding: 15px;
    border: 3px solid gainsboro; 
}
.span2 {
    grid-column: span 2; 
}
.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto; 
    border: 1px solid #ccc;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
.img {
    background-color: rgb(199, 198, 198);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
    height: 150px; 
}
h3 {
    margin: 0 0 5px 0;  
}
p {
    margin-bottom: 10px; 
    color: #666;
}
button {
    padding: 8px 12px;
    border: 1px solid #b4b2b2;
    color: white;
    border-radius: 10px;
    background-color: #828282;
}